body {
	position: relative;
	font-family: Aileron Light,serif;
	background-color: #F2EDEB;
	color: #212F3D;
	text-align: justify;
	border-style: groove;
	padding: 10px; 
	margin: 25px 15px;
}

div, section {
	margin-right: 25%;
	padding-left: 5px; 
}

header {
	text-align: center;
	border-style: groove;
	background-color: #E8ECEE;
}

h2 {
	font-family: Aileron,serif; 
}

header h1 {
	font-family: Aileron,serif;
	color: #641E16; 
}

header p {
	color: #212F3D; 
}

aside {
	position: absolute;
	top: 7.6%;
	bottom: 15px;
	right: 15px;
	float: right;
	width: 20%; 
}

aside iframe {
	height: 100%;
	width: 100%; 
}

footer {
	text-align: center; 
}

.green{
	color: green; 
}

.blue {
	color: blue; 
}

.red {
	color:  red; 
}

.markgreen {
	background-color: lightgreen; 
}

.markpink {
	background-color: lightpink; 
}

.markblue {
	background-color: lightblue; 
}

.lightfont {
	font-family: Aileron Light,serif; 
}